---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <a href="{{ site.baseurl }}/">
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
	<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
	  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	  {{ page.date | date: date_format }}
	</time>
    </header>
  </a>

  
  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

      <div class="PageNavigation">
  {% if page.previous.url %}
    <p><a class="prev button" href="{{page.previous.url | absolute_url }}">&laquo; Previous: {{page.previous.title}}</a></p>
  {% endif %}
    {% if page.next.url %}
    
    <p><a class="next button" href="{{page.next.url | absolute_url }}">Up Next: {{page.next.title}} &raquo;</a></p>
  {% endif %}
</div>

  </div>


  
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
